* {
  margin: 0;
  padding: 0;
}

.table-header {
  font-size: 50px;
  text-align: center;
}

.order-table-wrapper {
  width: 80%;
  margin-left: 10%;
  height: 70%;
  overflow-y: scroll;
}

.order-table th {
  position: sticky;
  background-color: #bf1f1f;
  top: 0;
}

.order-table tr {
  text-align: center;
}

.order-table select {
  font-size: 28px;
}

.order-table {
  width: 100%;
  font: 32px "Times New Roman";
  border-collapse: collapse;
}

.new-order-button {
  float: right;
  font-size: 50px;
  margin-top: 30px;
  margin-right: 100px;
}

.form-wrapper h1 {
  text-align: center;
}

.form-wrapper label {
  display: block;
}

.form-wrapper .input-invalid {
  background-color: red;
}

.form-wrapper input {
  display: block;
  box-shadow: 0 0 3px black;
  margin: 10px;
  font-size: 50px;
}

.form-wrapper small {
  font-size: 25px;
  color: red;
}

.form-wrapper .wrong-credentials-message {
  background-color: red;
  border-radius: 10px;
  text-align: center;
}

.form-wrapper button {
  margin-top: 30px;
  font-size: 50px;
}

.form-wrapper button:last-child {
  float: right;
}

.form-wrapper {
  font-size: 50px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.order-menu-container {
  float: right;
  width: 80%;
}

.order-menu-navbar {
  display: block;
  overflow: hidden;
  background: black;
  padding: 10px;
}

.navbar-element {
  display: block;
  float: left;
  background-color: red;
  padding: 10px;
  border-radius: 10px;
  font-size: 30px;
  color: #000000;
  text-decoration: none;
  margin-left: 20px;
}

.navbar-element:last-child {
  float: right;
  margin-left: 0;
  margin-right: 20px;
  user-select: none;
}

.navbar-element:last-child:active,
.navbar-element:last-child:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.order-menu-navbar a {
  height: 34px;
}

.order-menu-navbar a span {
  position: relative;
  top: -13%;
}

.order-menu-navbar .menu-dropdown-button:hover,
.order-menu-navbar .menu-dropdown-button:active,
.order-menu-navbar .menu-dropdown-button-active {
  background-color: white;
  color: black;
  user-select: none;
}

.order-menu-navbar .menu-dropdown-button {
  cursor: pointer;
  user-select: none;
}

.order-menu-navbar .link-active {
  background-color: black;
  color: white;
}

.loading-message {
  text-align: center;
  margin-top: 50px;
  font-size: 32px;
}

.dropdown-menu {
  position: absolute;
  display: grid;
  top: 63;
  left: 104;
}

.dropdown-menu-element {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  font-size: 30px;
  color: #000000;
  text-decoration: none;
}

.order-menu-table th {
  background-color: #bf1f1f;
  position: sticky;
  top: 0;
}

.order-menu-table tbody tr:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.order-menu-table {
  table-layout: fixed;
  text-align: center;
  width: 100%;
  font: 32px "Times New Roman";
  border-collapse: collapse;
}

.order-menu-basket h4 {
  text-align: center;
  font-size: 30px;
  color: white;
  background-color: black;
}

.order-menu-basket thead {
  background-color: black;
  color: white;
}

.order-menu-basket table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  text-align: center;
}

.create-order-button:active {
  background-color: white;
  color: black;
}

.create-order-button {
  background-color: black;
  padding: 10px;
  border-radius: 10px;
  font-size: 30px;
  color: white;
  margin-left: 20px;
  cursor: pointer;
  user-select: none;
}

.order-menu-basket-total {
  padding: 30px;
  font-size: 30px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.order-menu-basket {
  background: red;
  height: 100%;
  width: 20%;
  position: fixed;
}

.product-grid {
  list-style-type: none;
}

.product-cell {
  width: 10%;
  height: 240px;
  float: left;
  position: relative;
  text-align: center;
}

.product-cell:hover {
  cursor: pointer;
}

.product-cell p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.product-cell img {
  display: block;
  max-width: 100%;
}
