.table-header {
  font-size: 50px;
  text-align: center;
}

.order-table-wrapper {
  width: 80%;
  margin-left: 10%;
  height: 70%;
  overflow-y: scroll;
}

.order-table th {
  position: sticky;
  background-color: #bf1f1f;
  top: 0;
}

.order-table tr {
  text-align: center;
}

.order-table {
  width: 100%;
  font: 32px "Times New Roman";
  border-collapse: collapse;
}

.new-order-button {
  float: right;
  font-size: 50px;
  margin-top: 30px;
  margin-right: 100px;
}

.form-wrapper h1 {
  text-align: center;
}

.form-wrapper label {
  display: block;
}

.form-wrapper .input-invalid {
  background-color: red;
}

.form-wrapper input {
  display: block;
  box-shadow: 0 0 3px black;
  margin: 10px;
  font-size: 50px;
}

.form-wrapper small {
  font-size: 25px;
  color: red;
}

.form-wrapper .wrong-credentials-message {
  background-color: red;
  border-radius: 10px;
  text-align: center;
}

.form-wrapper button {
  margin-top: 30px;
  font-size: 50px;
}

.form-wrapper button:last-child {
  float: right;
}

.form-wrapper {
  font-size: 50px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.order-menu-container {
  float: left;
  width: 80%;
}

.order-menu-navbar {
  background: black;
  padding: 10px;
}

.order-menu-navbar .navbar-element {
  background-color: red;
  padding: 10px;
  border-radius: 10px;
  font-size: 30px;
  color: #000000;
  text-decoration: none;
  margin-left: 20px;
}

.order-menu-navbar .link-active {
  background-color: white;
  color: black;
}

.order-menu-table thead {
  text-align: left;
  background-color: #bf1f1f;
}

.order-menu-table tbody tr:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.order-menu-table {
  table-layout: fixed;
  width: 100%;
  font: 32px "Times New Roman";
  border-collapse: collapse;
}

.order-menu-basket h4 {
  text-align: center;
  font-size: 30px;
  color: white;
  background-color: black;
}

.order-menu-basket thead {
  background-color: black;
  color: white;
}

.order-menu-basket table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.order-menu-basket {
  background: red;
  float: right;
  width: 20%;
}
